<div class="container" style="display: flex; align-items: center; margin: 50px;">
    <mat-form-field appearance="outline">
        <mat-label>Select Form</mat-label>
        <mat-select [(ngModel)]="selectedForm"  (selectionChange)="onChange($event)">
          <mat-option value="drug1">Drug1</mat-option>
          <mat-option value="drug2">Drug2</mat-option>
        </mat-select>
      </mat-form-field> 
      <div class="" style="margin-left: 10px;">
        <button mat-raised-button color="primary" (click)="add()">Search data</button>
      </div>     
</div>
<app-form [data]="list"></app-form>




